$darkTheme: (
  background: $blue-grey-10,
  sidebarNav: $blue-grey-8,
  sidebarSections: $blue-grey-9,
  color: #fff,
  sidebar: blue,
  headerRadialBackground: radial-gradient(ellipse at 50% -3%, rgba(0, 0, 0, 0.3), rgba(97, 97, 97, 0) 70%)
)
